<p-toast></p-toast>
<arriendoya-frame>
    <div class="wrapper">
        <div class="card">
            <h1>Mis solicitudes</h1>
        </div>

        @if (rentRequests$ | async; as rentRequests) {
        @for (request of rentRequests; track $index) {

        <div class="property-wrapper">
            <div class="w-1/2">
                <img [src]="this.getImageUrl(request.property.img)" alt="Image" class="w-full h-full object-cover">
            </div>
            <!-- Info half -->
            <div class="w-1/4 p-4 flex flex-col gap-2">
                <div class="field">
                    <h1>Nombre:</h1>
                    @if (this.getUserType() === "LANDLORD") {
                        <h2>{{request.requester}}</h2>
                    }@else {
                        <h2>{{request.property.name}}</h2>
                    }
                </div>
                
                <div class="field">
                    <h1>Fecha de petición:</h1>
                    <h2>{{request.timestamp | date:'HH:mm/dd/MM/yyyy'}}</h2>
                </div>

                <div class="field">
                    <h1>Fecha de llegada:</h1>
                    <h2>{{request.arrivalDate | date:'dd/MM/yyyy'}}</h2>
                </div>

                <div class="field">
                    <h1>Fecha de salida:</h1>
                    <h2>{{request.departureDate | date:'dd/MM/yyyy'}}</h2>
                </div>

                <div class="field">
                    <h1>Valor:</h1>
                    <h2>{{request.price | currency }}</h2>
                </div>
            </div>

            <div class="w-1/4 p-4 flex flex-col gap-2">
                <div class="field">
                    <h1>Estado:</h1>
                    <h2>{{this.getStatus(request.status)}}</h2>
                </div>
                @if (this.getUserType() === "LANDLORD") {
                    <arriendoya-rent-request-landlord-control [request]="request"></arriendoya-rent-request-landlord-control>
                }@else {
                    <arriendoya-rent-request-tenant-control [request]="request"></arriendoya-rent-request-tenant-control>
                }
            </div>
        </div>


        }@empty {
        <div class="card">
            <h1>No hay solicitudes</h1>
        </div>
        }
        }

    </div>
</arriendoya-frame>